<style>
     h3 {
        text-align: center;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        color: blueviolet;
        background-color: rgb(233, 224, 242);
    }
</style>
<body>
    <h3>FEED BACK</h3>
    <br>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf1FnddEoRgUKaHLJ-83pq94Xll-w1RfzOIRl6vhMtpf1OOXg/viewform?embedded=true" width="640" height="947" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
<br><br><br><br><br><br><br><br><br>
    <table border="2px">
        <tr>
            <th>Useful Links
            <th>Contact</th>
        </tr>
    
        <tr>
            <td><a [routerLink]="['/place-app']">Place
                    Appointment</a>
            <td>Netherfell, Whinster
        </tr>
        <tr>
            <td><a [routerLink]="['/view-app']">View
                    Appointment</a>
            <td><a href="healthub@gmail.com">healthub@gmail.com</a>
        </tr>
        <tr>
            <td><a [routerLink]="['/query']">Query</a>
            <td>Contact : +91 9845678910</td>
        </tr>
    </table>
</body>