<table border="2px">
    <tr>
        <th>Useful Links
        <th>Contact</th>
    </tr>

    <tr>
        <td><a [routerLink]="['/place-app']">Place
                Appointment</a>
        <td>Winterfell, House of Stark
    </tr>
    <tr>
        <td><a [routerLink]="['/view-app']">View
                Appointment</a>
        <td><a href="healthub@gmail.com">healthub@gmail.com</a>
    </tr>
    <tr>
        <td><a [routerLink]="['/query']">Query</a>
        <td>Contact : +031 45678910</td>
    </tr>
</table>